body{
    background-image:url(/IMG/estocagem-de-produtos-quimicos-tanque-reservatorio-de-quimicos.jpg); 
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.painel {
    background: rgb(84, 84, 95);
    padding: 30px;
    border: 4px solid white;
    border-radius: 15px;
    box-shadow: 0 0 20px;
}


button{
    background: rgb(158, 155, 155);
    color: black;
    border: 1px solid;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 3px;

}
button:hover {background: rgb(133, 141, 190)}

.alerta-perigo{
    background-color: red !important;
    box-shadow: 0 0 20px red;
    color: white !important;
}